

html {
  scroll-behavior: smooth;
}

a {
  color: #f4fefd; 
  text-decoration: none;
}


a:visited {
  color: #f4fefd; 
  text-decoration: none;
}


a:active {
  color: #f4fefd; 
  text-decoration: none;
}

body {
  color:  #f4fefd;
  background-color: #1b2223;
  padding: 0;
  margin: 0;
  font-family: roboto;
  padding-bottom: 5000px;
  
  
}

.header {
  height: 100px;
  width: 100%;
  background-color: rgb(26, 26, 26);
  display: flex;
  border: -10px;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  position: fixed;
  z-index: 100;
  
}

.RussRicci, .home, .about-me {
  font-family: noto sans;
  font-size: 20px;
  text-shadow: 2px 2px 4px #f4fefd;
}

.RussRicci {
  flex: 10;
}

.home {
  flex: 1; 
  color: #f4fefd;
  text-decoration: none;
}

.home:visited, .home:active {
  color: #f4fefd;
  text-decoration: none;
}

.about-me {
  flex: 1;
}

.about-myself {
  width: 120%;
  min-height: 700px;
  background-image: url("images/about-me-and-weekly-journals/90172.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 5px 5px 1px black;
  font-size: 80px;
  color: #0ef6cc;
  
}

.about-me-description {
  display: flex;
  background-color: #1b2223;
  min-width: 1366px;
  max-width: 1920px;

  z-index: 1;
  justify-content: center;
  font-size: 30px;
  overflow-x: hidden;
  overflow-y: hidden;
  
  align-items: center;
  flex-direction: column;
  color: #f4fefd;

}


