body {
  color:  #f4fefd;
  background-color: #1b2223;
  padding: 0;
  margin: 0;
  font-family: roboto;
}

.header {
  height: 100px;
  width: 1fr;
  background-color: rgb(26, 26, 26);
  display: flex;
  border: -10px;
  justify-content: center;
  align-items: center;
  padding-left: 10px;

}

.RussRicci, .home, .about-me {
  font-family: noto sans;
  font-size: 20px;
  text-shadow: 2px 2px 8px #eeebeb
}

.RussRicci {
  flex: 10;
}

.home {
  flex: 1; 
}

.about-me {
  flex: 1;
  
}

