

html {
  scroll-behavior: smooth;
}

a {
  color: #f4fefd; 
  text-decoration: none;
  transition: 0.5s;
}


a:visited {
  
  text-decoration: none;
}


a:active {
   
  text-decoration: none;
}

body {
  color:  #f4fefd;
  background-color: #1b2223;
  padding: 0;
  margin: 0;
  font-family: roboto, arial;
  padding-bottom: 100px;
  min-width: 1345px;
}

.header {
  height: 100px;
  width: 100%;
  background-color: rgb(26, 26, 26);
  display: flex;
  border: -10px;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  position: fixed;
  z-index: 100;
  padding-right: 10px;
}

.RussRicci, .home, .about-me, .months {
  font-family: noto sans;
  font-size: 20px;
  text-shadow: 2px 2px 4px #f4fefd;
  
}

.RussRicci {
  flex: 1;
}

.months{
  flex: 7;
  display: flex;
}

.month-one{
  cursor:pointer;
  padding: 30px;
  margin-right: 80px;
}

.month-onee{
position: absolute;
margin-top: -12px;
}


.month-onee:hover{
  cursor:pointer;
  color: #0ef6cc;
  text-shadow: 2px 2px 20px #0ef6cc ;
  transform: scale(1.5);
  z-index: 999;
  position: 10px 0 0 0 ;
}


.home {
  flex: 1; 
  
  text-decoration: none;
  cursor:pointer;
  
}


a.home-button:hover {
  color: #0ef6cc;
  text-shadow: 2px 2px 20px #0ef6cc ;
  
}

.home:visited, .home:active {
  color: #f4fefd;
  text-decoration: none;
}

.about-me {
  flex: 1;
  transition: 0.5s;
  cursor:pointer;
}

.about-me:hover{
  color: #0ef6cc ;
  text-shadow: 2px 2px 20px #0ef6cc ;
  
}

.about-myself {
  position: relative;
  min-height: 700px;
  background-image: url("images/about-me-and-weekly-journals/90172.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size:  cover;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 5px 5px 1px black;
  font-size: 80px;
  color: #0ef6cc;

  
}

.about-me-description {
  display: flex;
  background-color: #1b2223;
  width: 100%;
  

  z-index: 1;
  justify-content: center;
  font-size: 30px;
  overflow-x: hidden;
  overflow-y: hidden;
  
  align-items: center;
  flex-direction: column;
  color: #f4fefd;

}


.week-one {
  min-height: 500px;
  background-image: url("images/about-me-and-weekly-journals/nature.png");
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  z-index: 1;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  position: relative
}

.week-one-box {
  border-style: solid;
  border-radius: 2px;
  font-size: 40px;
  padding: 10px;
  border-width: 6px;
  color:#0ef6cc;
  text-shadow:2px 2px 6px #0ef6cc;
  background: rgba(0,0,0,0.5);
  background-size: 70px;
}

.week-one-text {
  padding-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  min-width: 1000px;
  padding-left: 20px;
  overflow-x: hidden;
}

.week-one-chess {
  width: 500px;
  object-fit: cover;
  margin-right: 20px;
}

.week-one-description {
  min-width: 750px;
}

.bar {
  width: 98%; 
  margin: 0 auto; 
  z-index: 1;
  margin-top: 50px;
  border-radius: 2px;
}

.thin-bar {
  width: 100%;
  height: 3px; 
  background-color: #0ef6cc; 
  border-radius: 3px;
}

.week-two-div {
  background-color: #3a4f50;
  width: 1fr;
  height: 1200px;
}

.week-two{
  display: flex;
  width: 1fr;
}

.week-two-text {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  font-size: 80px;
  text-shadow:2px 2px 15px #f4fefd;
}

#slideshow {
  width:1000px;
  margin:0 auto;
  overflow:hidden;
}

.container {
  width:4000px; /* 300 x 4 */
  position:relative;
  -webkit-animation:slide 8s ease-in-out infinite;
  -moz-animation:slide 8s ease-in-out infinite;
  -ms-animation:slide 8s ease-in-out infinite;
  -o-animation:slide 8s ease-in-out infinite;
  animation:slide 8s ease-in-out infinite;
}

.container img {
  width:1000px;
  height:500px;
  float:left;
}

.container img:nth-child(1) {background-color:green;}
.container img:nth-child(2) {background-color:orange;}
.container img:nth-child(3) {background-color:blue;}
.container img:nth-child(4) {background-color:red;}

.container:hover {
 animation-play-state:paused;
 -webkit-animation-play-state:paused;
}

@-webkit-keyframes slide {
  0% {left:0;}
  25% {left:-1000px;}
  50% {left:-2000px;}
  75% {left:-3000px;}
  100% {left:0;}
}
@-moz-keyframes slide {
  0% {left:0;}
  25% {left:-1000x;}
  50% {left:-2000px;}
  75% {left:-3000px;}
  100% {left:0;}
}
@-ms-keyframes slide {
  0% {left:0;}
  25% {left:-1000px;}
  50% {left:-2000px;}
  75% {left:-3000px;}
  100% {left:0;}
}
@-o-keyframes slide {
  0% {left:0;}
  25% {left:-1000px;}
  50% {left:-2000px;}
  75% {left:-3000px;}
  100% {left:0;}
}
@keyframes slide {
  0% {left:0;}
  25% {left:-1000px;}
  50% {left:-2000px;}
  75% {left:-3000px;}
  100% {left:0;}
}

.week-two-description {
  font-size: 17px;
  font-family: manrope, arial;
}

.week-two-box {
  width: 1fr;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 40px;
}

.week-three-title{
  padding: 0 50px 0 90px;
  display: flex;
  margin-top: 200px;
  height: 20vw;
}


.week-three-box {
  background-color: #3a4f50;
  padding: 0 60px 0 60px;
  align-items: center;

  display: flex;
  border-radius: 5px;
  flex-direction: column;
}

.week-three-top{
  font-family: Noto sans,arial;
  font-size: 80px;
  margin-top: 10px;
}

.week-three-line{
  width: 100%;
  height: 4px;
  background-color: #1b2223;
  border-radius: 50%;
  margin-top: -80px;
  margin-bottom: 70px;

}

.belisarius{
  width: 500px;
  object-fit: contain;
  margin: 0 -30px 0 0;
  z-index: 1;
}

.week-three-description{
  width: 1fr;
}

.page-selector{
  display: grid;
  grid-template-columns: 230px 20px 20px 250px;
  justify-content: center;
  align-items: center;
  width: 100vw;
  font-size: 50px;
  column-gap: 40px;
  margin-top: 90px;
  transition: .5ms;
  
}

.page-selector a:hover{
  color: #0ef6cc;
  font-size: 40px;
  
}
