.first-entry {
  padding-top: 200px;
  display: flex;
  width: 80vw;
  align-items: center;
  justify-content: center;
  padding-left: 10vw;
}

.week-four-box{
  padding-left: 30px;
}


.week-four-picture{
  width: 600px;
}

.week-four-title{

}


